<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-logo">
        <img class="img-responsive" id="logo" src="/images/BareLogo.png" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive" src="/images/Sandwich-1200x1200.jpg" />
    </div>
    <div class="menu list-group list-group-flush">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <NavLink href="/">
                        Home
                    </NavLink>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(6))" data-toggle="collapse" class="dropdown-toggle">KyllingOgCo</a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden6 ? "toggle-hide" : "toggle-show")" id="tasks">
                        <li>
                            <NavLink href="/kyllinglogin">
                                Login to kylling og co
                            </NavLink>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </div>
</div>

@code{
   
    public bool IsHidden6 { get; set; } = true;

    public void ToggleNav1(int navId)
    {
        switch (navId)
        {
            
            case 1:
                IsHidden6 = !IsHidden6;
                break;
        }

    }
}