@page "/KyllingLoyalty"
<h3>KyllingOgCo Loyalty app     </h3>
<h3>En Verden Af smag</h3>

<textarea></textarea>

<img src="/images/KyllingOgCoSide1.png"/>
<img src="/images/KyllingOgCoSide2.png" />



@code {

    



}
